In [5]:
# 1. import of numpy and pandas:
import numpy as np
import pandas as pd

In [58]:
# 2. Import the dataset from the CSV:
df_beach = pd.read_csv(
    '../data/nic-beach-water-quality-automated-sensors-1.csv')

# 3. How many rows does the dataset contain?
print('The dataset contains', len(df_beach), 'rows.')

# The content of the dataset:
df_beach

The dataset contains 34923 rows.

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
0,Montrose Beach,08/30/2013 08:00:00 AM,20.3,1.18,0.891,0.080,3.0,9.4,8/30/2013 8:00 AM,MontroseBeach201308300800
1,Ohio Street Beach,05/26/2016 01:00:00 PM,14.4,1.23,NaN,0.111,4.0,12.4,05/26/2016 1:00 PM,OhioStreetBeach201605261300
2,Calumet Beach,09/03/2013 04:00:00 PM,23.2,3.63,1.201,0.174,6.0,9.4,9/3/2013 4:00 PM,CalumetBeach201309031600
3,Calumet Beach,05/28/2014 12:00:00 PM,16.2,1.26,1.514,0.147,4.0,11.7,5/28/2014 12:00 PM,CalumetBeach201405281200
4,Montrose Beach,05/28/2014 12:00:00 PM,14.4,3.36,1.388,0.298,4.0,11.9,5/28/2014 12:00 PM,MontroseBeach201405281200
...,...,...,...,...,...,...,...,...,...,...
34918,Ohio Street Beach,09/12/2017 12:00:00 PM,19.9,2.61,NaN,0.187,3.0,10.5,09/12/2017 12:00 PM,OhioStreetBeach201709121200
34919,Ohio Street Beach,09/12/2017 01:00:00 PM,19.8,0.00,NaN,0.187,3.0,10.5,09/12/2017 1:00 PM,OhioStreetBeach201709121300
34920,Ohio Street Beach,09/12/2017 03:00:00 PM,22.3,0.00,NaN,0.187,3.0,10.5,09/12/2017 3:00 PM,OhioStreetBeach201709121500
34921,Ohio Street Beach,09/12/2017 05:00:00 PM,21.1,26.97,NaN,0.187,3.0,9.4,09/12/2017 5:00 PM,OhioStreetBeach201709121700
34922,Ohio Street Beach,09/12/2017 06:00:00 PM,21.3,27.55,NaN,0.187,3.0,9.4,09/12/2017 6:00 PM,OhioStreetBeach201709121800

In [59]:
# 4. The 10 highest water temperatures:
column_name = 'Water Temperature'
# would also work: df_beach[column_name].notnull().sort_values().tail(10)
df_beach[(df_beach[column_name].notnull())].sort_values(
    column_name, ascending=True).tail(10)[['Beach Name', column_name]]

              Beach Name  Water Temperature
29636      Calumet Beach               28.5
14025      Calumet Beach               29.0
14022      Calumet Beach               29.2
19321  Ohio Street Beach               29.6
19382  Ohio Street Beach               30.0
19324  Ohio Street Beach               30.0
19333  Ohio Street Beach               30.4
19327  Ohio Street Beach               31.2
19330  Ohio Street Beach               31.4
16945  Ohio Street Beach               31.5

In [60]:
# 5. Mean water temp in Montrose Beach
df_beach[(df_beach['Beach Name'] == 'Montrose Beach')
         ]['Water Temperature'].mean()

18.64053384700055

In [62]:
# 6. The names of the beaches
beach_names = df_beach['Beach Name'].unique()

print("Beach names:", beach_names)

Beach names: ['Montrose Beach' 'Ohio Street Beach' 'Calumet Beach' '63rd Street Beach'
 'Osterman Beach' 'Rainbow Beach']

In [75]:
# 7. After 2016: How many times was the water above 26Â°C
year = 2016
min_temperature = 26

column_temperature = 'Water Temperature'
column_date = 'Measurement Timestamp Label'

# First convert the date string to a date object:
df_beach[column_date] = pd.to_datetime(
    df_beach[column_date], format='%m/%d/%Y %I:%M %p')

above_min_temperature = df_beach[(df_beach[column_date].dt.year >= year)][(
    df_beach[column_temperature] > min_temperature)]

print(f'After {year}, the water has been '
      f'measured {len(above_min_temperature)} times '
      f'above {min_temperature}Â°C.')

After 2016, the water has been measured 78 times above 26Â°C.

C:\Users\Sam\AppData\Local\Temp\ipykernel_11416\122977292.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  above_min_temperature = df_beach[(df_beach[column_date].dt.year >= year)][(

In [78]:
# 8. transducer depth data
column_depth = 'Transducer Depth'
df_beach[df_beach[column_depth].notnull()][column_depth].describe()

count    10034.000000
mean         1.570235
std          0.175118
min         -0.082000
25%          1.426000
50%          1.578000
75%          1.721000
max          2.214000
Name: Transducer Depth, dtype: float64

In [84]:
# 9. wave height data
column_wave_height = 'Wave Height'
df_beach[
    (df_beach[column_wave_height] > -100)][  # eliminate the unrealistic high and low values
    (df_beach[column_wave_height] < 100)][  # ""
    column_wave_height].describe()

C:\Users\Sam\AppData\Local\Temp\ipykernel_11416\1527923993.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_beach[

count    34164.000000
mean         0.173457
std          0.086944
min          0.013000
25%          0.112000
50%          0.156000
75%          0.202000
max          1.467000
Name: Wave Height, dtype: float64