In [1]:
# 1. import of numpy and pandas:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/nic-house-prices.csv')

In [3]:
df.shape

(2430, 82)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2430 non-null   int64
 1   PID              2430 non-null   int64
 2   MS SubClass      2430 non-null   int64
 3   MS Zoning        2430 non-null   object
 4   Lot Frontage     2010 non-null   float64
 5   Lot Area         2430 non-null   int64
 6   Street           2430 non-null   object
 7   Alley            163 non-null    object
 8   Lot Shape        2430 non-null   object
 9   Land Contour     2430 non-null   object
 10  Utilities        2430 non-null   object
 11  Lot Config       2430 non-null   object
 12  Land Slope       2430 non-null   object
 13  Neighborhood     2430 non-null   object
 14  Condition 1      2430 non-null   object
 15  Condition 2      2430 non-null   object
 16  Bldg Type        2430 non-null   object
 17  House Style      2430 non-null   object
 18  Overall Qual     2430 non-null   int64
 19  Overall Cond     2430 non-null   int64
 20  Year Built       2430 non-null   int64
 21  Year Remod/Add   2430 non-null   int64
 22  Roof Style       2430 non-null   object
 23  Roof Matl        2430 non-null   object
 24  Exterior 1st     2430 non-null   object
 25  Exterior 2nd     2430 non-null   object
 26  Mas Vnr Type     2410 non-null   object
 27  Mas Vnr Area     2410 non-null   float64
 28  Exter Qual       2430 non-null   object
 29  Exter Cond       2430 non-null   object
 30  Foundation       2430 non-null   object
 31  Bsmt Qual        2359 non-null   object
 32  Bsmt Cond        2359 non-null   object
 33  Bsmt Exposure    2356 non-null   object
 34  BsmtFin Type 1   2359 non-null   object
 35  BsmtFin SF 1     2429 non-null   float64
 36  BsmtFin Type 2   2358 non-null   object
 37  BsmtFin SF 2     2429 non-null   float64
 38  Bsmt Unf SF      2429 non-null   float64
 39  Total Bsmt SF    2429 non-null   float64
 40  Heating          2430 non-null   object
 41  Heating QC       2430 non-null   object
 42  Central Air      2430 non-null   object
 43  Electrical       2429 non-null   object
 44  1st Flr SF       2430 non-null   int64
 45  2nd Flr SF       2430 non-null   int64
 46  Low Qual Fin SF  2430 non-null   int64
 47  Gr Liv Area      2430 non-null   int64
 48  Bsmt Full Bath   2428 non-null   float64
 49  Bsmt Half Bath   2428 non-null   float64
 50  Full Bath        2430 non-null   int64
 51  Half Bath        2430 non-null   int64
 52  Bedroom AbvGr    2430 non-null   int64
 53  Kitchen AbvGr    2430 non-null   int64
 54  Kitchen Qual     2430 non-null   object
 55  TotRms AbvGrd    2430 non-null   int64
 56  Functional       2430 non-null   object
 57  Fireplaces       2430 non-null   int64
 58  Fireplace Qu     1244 non-null   object
 59  Garage Type      2294 non-null   object
 60  Garage Yr Blt    2292 non-null   float64
 61  Garage Finish    2292 non-null   object
 62  Garage Cars      2429 non-null   float64
 63  Garage Area      2429 non-null   float64
 64  Garage Qual      2292 non-null   object
 65  Garage Cond      2292 non-null   object
 66  Paved Drive      2430 non-null   object
 67  Wood Deck SF     2430 non-null   int64
 68  Open Porch SF    2430 non-null   int64
 69  Enclosed Porch   2430 non-null   int64
 70  3Ssn Porch       2430 non-null   int64
 71  Screen Porch     2430 non-null   int64
 72  Pool Area        2430 non-null   int64
 73  Pool QC          12 non-null     object
 74  Fence            489 non-null    object
 75  Misc Feature     90 non-null     object
 76  Misc Val         2430 non-null   int64
 77  Mo Sold          2430 non-null   int64
 78  Yr Sold          2430 non-null   int64
 79  Sale Type        2430 non-null   object
 80  Sale Condition   2430 non-null   object
 81  SalePrice        2430 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.5+ MB

In [11]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition
0,484,528275070,60,RL,NaN,8795,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,Normal
1,2586,535305120,20,RL,75.0,10170,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2,2289,923228250,160,RM,21.0,2001,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2007,WD,Normal
3,142,535152150,20,RL,70.0,10552,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
4,2042,903475060,190,RM,60.0,10120,Pave,NaN,IR1,Bnk,...,0,0,NaN,MnPrv,NaN,0,1,2007,WD,Normal

In [6]:
df.tail()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
2425,764,904301070,90,RL,60.0,10800,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2009,WD,Alloca,179000
2426,836,907126010,20,RL,82.0,12464,Pave,NaN,IR2,Low,...,0,NaN,GdPrv,NaN,0,11,2009,WD,Normal,152000
2427,1654,527353080,60,RL,80.0,11584,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,197000
2428,2608,535402070,80,RL,85.0,13400,Pave,NaN,Reg,Lvl,...,0,NaN,GdWo,NaN,0,6,2006,WD,Normal,159950
2429,2733,905402110,20,RL,75.0,9375,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,146000

In [11]:
df.dtypes

Order               int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 82, dtype: object

## Explore the data and examples of special types of variables
nominal variables
* Street
* Sale Type

ordinal variables
* Order
* Year Sold

discrete variables
* Mo Sold

continuous variables
* Lot Frontage?

In [19]:
# ChatGPT's solution:
# nominal variables
nominal_cols = [col for col in df.columns if df[col].nunique() < 10]
print('Nominal variables: ', nominal_cols)

# ordinal variables
ordinal_cols = [col for col in df.columns if df[col].dtype == 'object' and df[col].nunique() > 10]
print('Ordinal variables: ', ordinal_cols)

# discrete variables
discrete_cols = [col for col in df.columns if df[col].dtype == 'int64']
print('Discrete variables: ', discrete_cols)

# continuous variables
continuous_cols = [col for col in df.columns if df[col].dtype == 'float64']
print('Continuous variables: ', continuous_cols)

Nominal variables:  ['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Overall Cond', 'Roof Style', 'Roof Matl', 'Mas Vnr Type', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC', 'Central Air', 'Electrical', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'Functional', 'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Cars', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature', 'Yr Sold', 'Sale Condition']
Ordinal variables:  ['Neighborhood', 'Exterior 1st', 'Exterior 2nd']
Discrete variables:  ['Order', 'PID', 'MS SubClass', 'Lot Area', 'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold', 'SalePrice']
Continuous variables:  ['Lot Frontage', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Yr Blt', 'Garage Cars', 'Garage Area']

## Create a boolean mask to identify houses in the dataset where the 'Sale Condition' is set to 'Abnorml'

In [22]:
df_abnorml = df[df['Sale Condition']=='Abnorml']
df_abnorml

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
65,907,909129100,50,RH,55.0,4500,Pave,Pave,IR2,Bnk,...,0,NaN,NaN,NaN,0,7,2009,WD,Abnorml,159434
72,2598,535376100,30,RL,60.0,5400,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,12,2006,WD,Abnorml,108480
84,2591,535325460,30,RL,118.0,21299,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,12,2006,COD,Abnorml,167000
89,1573,916325080,20,RL,NaN,15498,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2008,COD,Abnorml,287000
95,1372,904100020,20,RL,82.0,9488,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,9,2008,WD,Abnorml,124000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386,152,535304060,190,RL,70.0,13587,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Abnorml,119000
2390,545,531382070,20,RL,88.0,10994,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,9,2009,COD,Abnorml,257000
2413,2223,909428120,20,RL,NaN,21000,Pave,NaN,Reg,Bnk,...,0,NaN,MnPrv,NaN,0,10,2007,COD,Abnorml,217000
2419,2648,902125020,70,RM,50.0,9000,Pave,Grvl,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Abnorml,124000
2422,278,908102300,50,RL,89.0,11792,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Abnorml,64000

In [25]:
df_abnorml['Lot Frontage'].info()

<class 'pandas.core.series.Series'>
Int64Index: 154 entries, 65 to 2422
Series name: Lot Frontage
Non-Null Count  Dtype
--------------  -----
132 non-null    float64
dtypes: float64(1)
memory usage: 2.4 KB

In [26]:
df_abnorml['Lot Frontage'].describe()

count    132.000000
mean      70.818182
std       24.802985
min       21.000000
25%       56.750000
50%       68.000000
75%       82.000000
max      174.000000
Name: Lot Frontage, dtype: float64

132 / 154 entries are non-null.

I would rather replace the missing values with the median because it seems to be ordinal values (can't operate maths on it).

In [27]:
COLUMN_NAME = 'Lot Frontage'
df[COLUMN_NAME].fillna(df[COLUMN_NAME].median(), inplace=True)

df[COLUMN_NAME].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2430 entries, 0 to 2429
Series name: Lot Frontage
Non-Null Count  Dtype
--------------  -----
2430 non-null   float64
dtypes: float64(1)
memory usage: 19.1 KB

In [ ]:
# Outliers
def z_socre(x):
    mean_x = np.mean(x)

    std_x = np.std(x)
    return ...

In [ ]:
df