In [1]:
# 1. import of numpy and pandas:
import numpy as np
import pandas as pd

In [5]:
# 2. Import the dataset from the CSV:
df_beach = pd.read_csv(
    '../data/nic-beach-water-quality-automated-sensors-1.csv')

# 3. How many rows does the dataset contain?
print('The dataset contains', df_beach.shape, 'rows.')

# The content of the dataset:
df_beach.sample(10)

The dataset contains (34923, 10) rows.

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
15798,Montrose Beach,06/30/2015 07:00:00 PM,18.7,0.55,NaN,0.313,3.0,11.9,06/30/2015 7:00 PM,MontroseBeach201506301900
2376,Montrose Beach,06/23/2014 03:00:00 PM,17.6,0.20,1.630,0.127,4.0,10.9,06/23/2014 3:00 PM,MontroseBeach201406231500
34261,Ohio Street Beach,08/14/2017 04:00:00 PM,23.5,1.77,NaN,0.187,3.0,10.4,08/14/2017 4:00 PM,OhioStreetBeach201708141600
17997,Osterman Beach,07/14/2015 07:00:00 PM,19.3,4.02,NaN,0.398,5.0,12.5,07/14/2015 7:00 PM,OstermanBeach201507141900
11883,Montrose Beach,07/18/2016 07:00:00 PM,20.9,0.00,NaN,0.167,6.0,11.3,07/18/2016 7:00 PM,MontroseBeach201607181900
34617,Ohio Street Beach,08/31/2017 12:00:00 PM,21.8,8.86,NaN,0.187,3.0,11.2,08/31/2017 12:00 PM,OhioStreetBeach201708311200
1978,Rainbow Beach,06/20/2014 06:00:00 AM,17.1,1.55,1.571,0.157,3.0,11.3,06/20/2014 6:00 AM,RainbowBeach201406200600
32032,Calumet Beach,09/04/2016 04:00:00 AM,21.8,5.21,NaN,0.322,3.0,10.7,09/04/2016 4:00 AM,CalumetBeach201609040400
22323,Ohio Street Beach,08/11/2015 01:00:00 AM,23.0,0.75,NaN,0.134,3.0,11.1,08/11/2015 1:00 AM,OhioStreetBeach201508110100
20890,63rd Street Beach,07/29/2015 08:00:00 AM,20.7,0.76,NaN,0.065,7.0,10.6,07/29/2015 8:00 AM,63rdStreetBeach201507290800

In [9]:
# 4. The 10 highest water temperatures:
column_name = 'Water Temperature'

# would also work: df_beach[column_name].notnull().sort_values().tail(10)
df_beach[(df_beach[column_name].notnull())].sort_values(
    column_name, ascending=True).tail(10)[['Beach Name', column_name]]


# OR
df_beach[column_name].nlargest(10)
# or
df_beach.sort_values(column_name, ascending=False).head(10)

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
16945,Ohio Street Beach,07/24/2016 03:00:00 PM,31.5,14.73,NaN,-99999.992,-100000.0,9.8,07/24/2016 3:00 PM,OhioStreetBeach201607241500
19330,Ohio Street Beach,07/24/2016 04:00:00 PM,31.4,14.18,NaN,-99999.992,-100000.0,9.9,07/24/2016 4:00 PM,OhioStreetBeach201607241600
19327,Ohio Street Beach,07/24/2016 02:00:00 PM,31.2,10.07,NaN,-99999.992,-100000.0,9.9,07/24/2016 2:00 PM,OhioStreetBeach201607241400
19333,Ohio Street Beach,07/24/2016 05:00:00 PM,30.4,14.00,NaN,-99999.992,-100000.0,9.8,07/24/2016 5:00 PM,OhioStreetBeach201607241700
19324,Ohio Street Beach,07/24/2016 01:00:00 PM,30.0,10.19,NaN,-99999.992,-100000.0,9.8,07/24/2016 1:00 PM,OhioStreetBeach201607241300
19382,Ohio Street Beach,07/24/2016 06:00:00 PM,30.0,14.25,NaN,-99999.992,-100000.0,9.9,07/24/2016 6:00 PM,OhioStreetBeach201607241800
19321,Ohio Street Beach,07/24/2016 12:00:00 PM,29.6,9.57,NaN,-99999.992,-100000.0,9.8,07/24/2016 12:00 PM,OhioStreetBeach201607241200
14022,Calumet Beach,06/02/2016 12:00:00 PM,29.2,0.00,NaN,0.034,9.0,12.6,06/02/2016 12:00 PM,CalumetBeach201606021200
14025,Calumet Beach,06/02/2016 01:00:00 PM,29.0,0.00,NaN,0.017,9.0,12.5,06/02/2016 1:00 PM,CalumetBeach201606021300
29636,Calumet Beach,08/03/2016 06:00:00 PM,28.5,1.55,NaN,0.195,2.0,10.2,08/03/2016 6:00 PM,CalumetBeach201608031800

In [12]:
# 5. Mean water temp in Montrose Beach
df_beach[(df_beach['Beach Name'] == 'Montrose Beach')
         ]['Water Temperature'].mean()

pandas.core.series.Series

In [13]:
# 6. The names of the beaches
beach_names = df_beach['Beach Name'].unique()

print("Beach names:", beach_names)

# or
df_beach['Beach Name'].value_counts()

Beach names: ['Montrose Beach' 'Ohio Street Beach' 'Calumet Beach' '63rd Street Beach'
 'Osterman Beach' 'Rainbow Beach']

Ohio Street Beach    9343
Calumet Beach        7570
Montrose Beach       7269
Osterman Beach       4023
63rd Street Beach    3420
Rainbow Beach        3298
Name: Beach Name, dtype: int64

In [75]:
# 7. After 2016: How many times was the water above 26°C
year = 2016
min_temperature = 26

column_temperature = 'Water Temperature'
column_date = 'Measurement Timestamp Label'

# First convert the date string to a date object:
df_beach[column_date] = pd.to_datetime(
    df_beach[column_date], format='%m/%d/%Y %I:%M %p') # best practice: do it right after the import :)

above_min_temperature = df_beach[(df_beach[column_date].dt.year >= year)][(
    df_beach[column_temperature] > min_temperature)]

print(f'After {year}, the water has been '
      f'measured {len(above_min_temperature)} times '
      f'above {min_temperature}°C.')

After 2016, the water has been measured 78 times above 26°C.

C:\Users\Sam\AppData\Local\Temp\ipykernel_11416\122977292.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  above_min_temperature = df_beach[(df_beach[column_date].dt.year >= year)][(

In [14]:
# 8. transducer depth data
column_depth = 'Transducer Depth'
df_beach[df_beach[column_depth].notnull()][column_depth].describe()

# What is it all about? How deep into the sea?

df_beach.info()  # -> only 10034 of 34923 rows have a value for that...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34923 entries, 0 to 34922
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Beach Name                   34923 non-null  object
 1   Measurement Timestamp        34917 non-null  object
 2   Water Temperature            34917 non-null  float64
 3   Turbidity                    34917 non-null  float64
 4   Transducer Depth             10034 non-null  float64
 5   Wave Height                  34690 non-null  float64
 6   Wave Period                  34690 non-null  float64
 7   Battery Life                 34917 non-null  float64
 8   Measurement Timestamp Label  34917 non-null  object
 9   Measurement ID               34923 non-null  object
dtypes: float64(6), object(4)
memory usage: 2.7+ MB

In [84]:
# 9. wave height data
column_wave_height = 'Wave Height'
df_beach[
    (df_beach[column_wave_height] > -100)][  # eliminate the unrealistic high and low values
    (df_beach[column_wave_height] < 100)][  # ""
    column_wave_height].describe()

C:\Users\Sam\AppData\Local\Temp\ipykernel_11416\1527923993.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_beach[

count    34164.000000
mean         0.173457
std          0.086944
min          0.013000
25%          0.112000
50%          0.156000
75%          0.202000
max          1.467000
Name: Wave Height, dtype: float64