## Week 1 recap

- Launching your online development environment (Codespace) with GitHub.com
- Jupyter Notebook for Python
- Python packages for the course: pnumpy, pandas, matplotlib, seaborn, openpyxl
- Markdown cells vs. Code cells
- Variables in Python
- Data types
- Getting online documentation

## Week 2 recap

- how to define your own functions in Python

```Python
def my_addition(parameter1, paramter2):
    
    return parameter1 + parameter2
```

- control flow and boolean logic (AND, OR logical operators)
- writing math equations in markdown cells
- intro to pandas' DataFrame
- loading data using pd.read_csv()
- basic EDA (exloratory data analysis):

```Python
df.shape
df.info()
df.describe()
df.head()
df.tail()
df.sample()
df.columns
df.dtypes
```

- extracting 1 or several columns from a dataframe:

```Python
# 1st option:
df.age
# 2nd option:
df['age']
```

üå∂Ô∏è  Week 2 question: why do we always have to use "pd." to call pandas' functions?

Anwer: we don't.

if you use:

```
from pandas import *
```

then you have direct access to write:

```
read_excel(...)
```

without using "pd."

But, it is not recommended because you may shadown existing functions or object without realizing. 

For instance, if another Python package also had a function called read_csv() then you would not know which one your code is calling.

# Week 3


<img src="https://nico.nexgate.ch/images/pipeline.png" width='80%' alt="excel" />




In week 3, we will continue exploring datasets and we will start transforming data (data cleanup, data filtering, feature engineering, etc.) and we will visualize data.

## Imports

ü•¶ <font color='red'>TODO</font>: Execute the lines below to import the Python packages required for this notebook. (remember you can use the shortcut Shift-Enter to execute a cell in a Jupyter notebook.

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

## Data filtering using boolean masks

A boolean mask gives a True or False for each row of data in your dataset.

If the value is True, then the row is shown otherwise, the row is no shown.

For instance, let's show only employees who work at ZHAW using a boolean mask.

First, let's re-create the employee dataframe form Week 2:

In [ ]:
employee_data = {'name':['Remia','Alex','Julia','Matthias','Caroline','Georg','John'],
        'age':[23,19,37,52,46,55,61],
        'work':['Lonza','ZHAW','ZHAW','Alexion','Alexion','Sonova','ZHAW'],
        'nationality':['CH','CH','CH','DE','CH','FR','FR'],
        'savings':[45000,2300,165000,254000,420000,185000,24000],
        'checking':[3450,6500,7340,13500,12050,6540,3500]}

In [ ]:
df = pd.DataFrame(employee_data)

In [ ]:
df

Let's create a variable mask which will contain 1 boolean value - in other words, either True or False - for each row of the employee dataframe. 

If the employee works at ZHAW, then the value will be True for that row and otherwise, the value will be False.

In [ ]:
mask = df.work == 'ZHAW'
mask

We can then apply this mask to filter our dataframe to only show employees working at ZHAW:

In [ ]:
df[mask]

NOTE: the use of a variable mask is not mandatory, we could have used the code:

```
df[df.work == 'ZHAW']
```

and it would have returned the same result.

But using a variable to define a mask allows us to check the value of the mask and also to re-use the same mask later on.

ü•¶ <font color='red'>TODO</font>: Show employees who older than 30.

In [ ]:
# enter your code here

## Grouping data (similar to Excel pivot)

Let's arrange the dataset into a pivot take to organize the employees by companies.


<img src="https://nico.nexgate.ch/images/excel_pivot.png" width='80%' alt="excel" />

Reference documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [ ]:
df.groupby('work')

In [ ]:
pivot1 = df.groupby('work').count()
pivot1

ü•¶ <font color='red'>TODO</font>: In the cell below, let's display the pivot1 dataframe only showing the column "name"

In [ ]:
# add your code here

Now let's get the age average by company

In [ ]:
df.groupby('work').agg({'age':'mean'})

ü•¶ <font color='red'>TODO</font>: Using groupby, show the age of the youngest employee for each company. tip: use "min"

In [ ]:
# add your code here

It is also possible to use different aggregation funcitons. 

For instance, we may count the names to get the headcount and use the mean to calculate the average savings amount per employee.

In [ ]:
df.groupby(['work']).agg({
                    'name':'count', 
                    'savings':'mean', 
                  
                    })

ü•¶ <font color='red'>TODO</font>: What would happen if we tried to use the average on the column "name"?

Finally, we can also add an additional level of grouping, say by nationality and combine it with different aggregation calculations.

In [ ]:
df.groupby(['work','nationality']).agg({
                    'name':'count', 
                    'savings':'mean', 
                    'age':['min','max','mean']
                    })

üå∂Ô∏è <font color='red'>TODO</font>: Display in DataFrame the number of employees by company and total amount of savings for each company.

for Alexion, the total savings should be: 420000 + 254000 = 674000.

In [ ]:
# add your code here

## Using .loc vs. .iloc

In Week 2, we introduced the Pandas dataframe as the "workhorse" of data analysis in Python.

<img src="https://nico.nexgate.ch/images/excel_vs_df.jpg" width='80%' alt="excel" />

A dataframe has a lot of similarities with an Excel spreadsheet but also some differences.

An index is created when you load data using pd_read_csv() or pd.read_excel()

In Python, there are 2 ways to extracting specific rows by their indeces:

- df.loc[]
- df.iloc[] ('i' -> interger index starting from 0)

Let's use one of the columns as a labelled index.

NOTE: the values must be unique to be used as an index.

In [ ]:
df.set_index(['name'],inplace=True) # note the use of inplace=True, otherwise the dataframe would not be modified

In [ ]:
df

In [ ]:
df.loc['Julia']

In [ ]:
df.iloc[2]

We can extract a slide of a dataset by provinding an index range:

- .iloc[from:to]
- .iloc[:to]
- .iloc[from:]
- .iloc[-reverve_index] , i.e. indexing from the last row

In [ ]:
df.iloc[2:4]

In [ ]:
df.iloc[:2] # first 2 rows

üå∂Ô∏è <font color='red'>TODO</font>: Write the funciton head_df(df,n) which returns the first n rows of data using .iloc

In [ ]:
df.head(3)

In [ ]:
# write the code to define the funciton head_df then test it with df_head(df,3)

üå∂Ô∏èüå∂Ô∏è <font color='red'>TODO</font>: Modify your function definition so that it prints an error message if you ask to display too many rows of data. 

For instance, df_head(df,50) should print:

"The dataframe does not have sufficient rows to display"

## Intro to data cleansing

### Columns cleaning

Let's see how we can rename columns so that we don't have spaces and other special characters.

In week 2, we've looked at the boat permits' dataset, let's reload it:

In [ ]:
df_boats = pd.read_csv('https://query.data.world/s/ggc6s5p6dxwzy4c2dyygv2czjrm7uk')

df_boats.head(4)

There are 2 basic ways you can rename the columns:
- "lazy option": df_boats.columns = [... new list of ALL columns]
- using .rename

In [ ]:
df_boats.rename(columns={'Permits Issued':'Permits_issued',	
                        'Seasonal Tags': 'Seasonal_tags',
                        'Temporary Tags': 'Temporary_tags'}, inplace=True)

In [ ]:
df_boats.head(3)

In [ ]:
# now that we have "friendly" column names, we can easily reference them:
df_boats.Permits_issued.sum()

### Missing data

Let's continue on with data cleansing and look at missing data. We'll open a new version of the employee dataset:

In [ ]:
dfe = pd.read_csv('https://nico.nexgate.ch/data/employees_v2.tsv',sep='\t')

In [ ]:
dfe.head(5)

In the 3rd data line - with the name Julia - you notice that the column age contains "NaN".

"NaN" means Not a Number - in other words, it means that the value is mising.

Let's use info() to confirm that we have missing values.

In [ ]:
dfe.info()

The funciton .isna() returns True if the value is missing. see below:

In [ ]:
# let's use a filter to identify the rows where the age is missing
dfe[dfe.age.isna()]

In [ ]:
# or the opposite, let's use a filter to identify the rows where the age is now missing
# note: in Python, the tilda means NOT, in other words, the opposite of.
# in the code below, we use ~ to have the opposite of age missing.
dfe[~dfe.age.isna()]

### Strategies for missing values

Deciding on what do to with missing values depends on the purpose of your data analysis and requires your subject matter expertise.

The options are:

- drop the entire column if it contains any missing values -> .dropna(axis='columns')
- drop the entire row if it contains any missing values -> .dropna()
- drop the entire row if it has missing value(s) in a specific column(s) -> .dropna(subset=['col_x', 'col_y'])
- replace the missing value by a static value, for instance, replace it by 0. -> .fillna(0)
- replace missing values by a calculated value, for instance, if a bonus number is missing, we could replace it by the average value of all bonuses. -> .fillna(...)

Reference documentation: 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

ü•¶ <font color='red'>TODO</font>: drop all rows where either the age or the bonus is missing

In [ ]:
# add your code here

Here is an example to replace the missing values in the bonus column by the median bonus value:

In [ ]:
dfe['bonus'].fillna(dfe['bonus'].median(),inplace=True)

In [ ]:
dfe.bonus

üå∂Ô∏è <font color='red'>TODO</font>: Replace the missing age values by the mean average of all ages.

In [ ]:
# add your code here

## Introduction to seaborn

seaborn is a visualization package with many off-the-shelf chart types which can be used for data analysis and story telling.

In [ ]:
import seaborn as sns

sns.catplot(x="work", 
                y="age",
                #hue="other_dimension",
                col="nationality",
                data=df);

## Example from the "Titanic" dataset

seaborn also contains datasets which you can use to practice data visualization and machine learning algorythm.

to get a list of datasets available, execute the cell below:

In [ ]:
sns.get_dataset_names()

In [ ]:
titanic = sns.load_dataset("titanic")

ü•¶ <font color='red'>TODO</font>: get the size, data types and basic statistics about the titanic dataset

In [ ]:
# add your code here

### Example of data visualization using seaborn cat(egory) plot

In [ ]:
sns.catplot(x="alive", col="deck", col_wrap=4,
                data=titanic[titanic.deck.notnull()],
                kind="count", height=2.5, aspect=.8);

ü•¶ <font color='red'>TODO</font>: Visualize the count of passengers who survive on the titanic based on the deck they were on and their gender.

üå∂Ô∏è <font color='red'>TODO</font>: Explore other seaborn datasets and try several visualizations using seaborn

# Appendix (optional content)

## Using Google colab

Colab is a free Python environment developed by Google and available in your browser.

It is similar to your Codespace environment with some differences. For once, you need to have a google account to use google colab.

Once you passed this hurdle and if you are also using google drive, then colab.google.com can be an very useful way to write your Python code. 

One of the benefit of Colab is that the environment is already setup and already includes Pandas, Matplotlib, Seaborn, etc. but also more advanved packages used for machine learning such as sk-learn or Tensor Flow.


<img src="https://nico.nexgate.ch/images/colab.png" width='80%' alt="excel" />


üå∂Ô∏èüå∂Ô∏è <font color='red'>TODO</font>: This section is optional. If you want to run your Python with Google colab, you need to setup a Google account, then you need to put your files on your google drive.

In [ ]:
!pwd

In [ ]:
!ls -la  
# if you are using a Windows laptop, use dir instead of ls -la

By default, your google colab notebook does not have access to your google drive. If you want to use data on your google drive, you need to mount the drive - in other words, you need to connect it to your notebook so that you can see your file.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

once your google drive is mounted, you can browse its content to find your data files, load them in pandas dataframe etc.

In [ ]:
!ls '/content/gdrive/MyDrive/Colab Notebooks/ZHAW/Data/iris/'

In [ ]:
# replace '/Colab_Notebooks/ZHAW...' by your own path to a data file on your Google drive
df=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/ZHAW/Data/iris/iris_questionnaire_cooking_practices.csv',delimiter=';')

In [ ]:
df.head(3)